<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Mensajes</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header>
    <h1>📩 Lista de mensajes</h1>
  </header>
  <main>
      {% if mensajes %}
        {% for m in mensajes %}
          <li class="mensaje-item">
            <h2 class="pregunta">{{ m.pregunta }}</h2>

            <ul class="opciones">
              {% for opcion in m.opciones %}
                <li>{{ opcion }}</li>
              {% endfor %}
            </ul>

            <div class="info-extra">
              <p class="respuesta"><strong>Respuesta:</strong> {{ m.respuesta }}</p>
              <p class="usuario"><strong>Usuario:</strong> {{ m.usuario }}</p>
            </div>
          </li>
        {% endfor %}

      {% else %}
        <p class="no-mensaje">No hay mensajes en la base de datos.</p>
      {% endif %}
      <a class="btn-volver" href="{{ url_for('index') }}">⬅ Volver al menú</a>
  </main>
  <footer>
    <p>Página creada por Agustin Lazaro Ardeola De Olivera</p>
  </footer>
</body>
</html>
